body {
	background-color: #f0f4f4;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #133162;
	color: white;
	padding: 5px 20px;
	display: flex;
	flex-direction: column;
}

h1 {
	margin: 0;
}
#container1{
	display: flex;
	flex-direction: row;
	align-items: center; 
	justify-content: space-between;
}

/* options next to AggieLife */
.option{
	color:white;
	font-weight: 350;
	text-decoration: none;	
	padding: 14px 20px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont
}

#option-group{
	color:black;
	background-color: #F6C749;
	font-weight: 600;

	/* max border radius */
	border-radius: 1000px;
	
}

#sign{
	color:white;
	text-decoration: none;	
}

nav {
	display: flex;
	padding: 40px; 
	flex-direction: row;
	justify-content: space-evenly;
}

/* form {
	/* width: fit-content;  */
  	/* box-sizing: border-box; */
  	/* width: 500px;
	height: ; 
}
*/

/* text input */
input[type="text"] {
	height: 60px;
	width: 500px; 
	border-radius: 1000px; 
	border-color: white;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
input:focus{
	outline-color: none;
	box-shadow: none;
}
#search-btn{
	width: 120px;
	height: 60px;
	border: none;
	border-radius: 1000px;
	background-color: #133162;
	color: white;
	font-size: 20px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	
}
/* search button */
button[type="search"] {
	color: white;
} 

/* dropdown <a> styling */
.dropdown a {
	color: black;
	display: block;
	padding: 10px;
	text-decoration: none;
}

/* styling the categories inside dropdown */
.dropdown #filter-dropdown {
	background-color: #f4f4f4;
	display: none;
	position: absolute;
	z-index: 1;
	overflow-y: auto;
	
}

/* dropdown text hover style */
.dropdown a:hover {
	background-color: white;
	color: #333;
}

/* dropdown text activated style */
.dropdown a.active {
	background-color: rgb(226, 10, 10);
	color: #333;
}  
  
/* dropdown button */
.dropdown #filter-btn {
	background-color: #133162;
	color: white;
	font-size: 20px;
	border: none;
	cursor: pointer;
	border-radius: 1000px;
	width: 120px;
	height: 60px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* entire grid container */
.tile-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 250px);
	grid-gap: 20px;

	/* add left-right padding */
	padding: 0px 20px;
}

/* each cell in the grid */
.tile {
	font-family: Arial, Helvetica, sans-serif;
	background-color: white;
	border-radius: 15px;
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* pagination div */
.pagination {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

/* pagination text */
.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}

/* each pagination box when clicked (activated) */
.pagination a.active {
	background-color: #133162;
	color: white;
	border-radius: 50%;
	padding-left: 12px;
	padding-right: 12px;

}

/* each pagination box when not activated */
.pagination a:hover:not(.active) {
	background-color: #EFF2F5;
	color: black;
}