body {
	background-color: #f0f4f4;
	font-family: system-ui, -apple-system, BlinkMacSystemFont;
	margin: 0;
	padding: 0;
}

header {
	background-color: #133162;
	color: white;
	padding: 5px 15px 10px 15px;
	display: flex;
	flex-direction: column;
}

/* Sign In w/ Logo*/
#signin{
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
}

#sign{
	color:white;
	text-decoration: none;	
	background: url('assets/exit_to_app_FILL0_wght400_GRAD0_opsz48.png') no-repeat left;
	background-size: 25px;
	filter: brightness(0) invert(1);
}
a span {
	padding-left: 30px;
}

​
h1 {
	margin: 0;
}
#container1{
	display: flex;
	flex-direction: row;
	align-items: center; 
	justify-content: space-between;
}

/* options next to AggieLife */
.option{
	color:white;
	font-weight: 400;
	text-decoration: none;	
	padding: 14px 20px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

/* yellow highlight on group */
#option-group{
	color:black;
	background-color: #F6C749;
	font-weight: 700;
	padding: 9px 18px 11px 18px;
	/* max border radius */
	border-radius: 1000px;
	
}


/* Navigation */
nav {
	display: flex;
	padding: 80px 20px 80px 20px; 
	flex-direction: row;
	justify-content: space-evenly;
	margin-right: 20%;
	margin-left: 20%;
}

.allSearch{
	position: relative;
}

input::placeholder{
	position:absolute;
	text-indent: 50px; 
	padding: 17px 0px 0px 0px;
	/* margin-bottom: 100px; */
	font-size: 16px;

}
/* text input */
input[type="text"] {
	background: url("assets/mag_glass.png") no-repeat left;
	background-position: 20px 16px;
	background-size: 20px;
	background-color: white;
	height: 50px;
	width: 500px; 
	border-radius: 1000px; 
	border-color: white;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	text-indent: 50px;
	font-size: 16px;
}
input:focus{
	outline-color: none;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
	text-indent: 50px;
	font-size: 16px;
	outline: none;
}
input:focus::placeholder{
	color: transparent;
	
}
#mic{
	position: absolute;
	top: 10px;
	left: 450px;
	width: 30px;
	height: 30px;
	border: none;
	background-color: transparent;
	outline: none;
	cursor: pointer;
}

/* search button */
button[type="search"] {
	color: white;
} 

/* regular <a> styling */
a {
	text-decoration: none;
	background-color: transparent;
	/* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
	/* box-shadow: 0 0 10px #000; */
}

/* dropdown <a> styling */
.dropdown a {
	color: black;
	display: block;
	width: 80px;
	padding: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 12px;
	font-weight: bold;
	margin-left: 20px;
	/* margin-top: 2px; */
	/* margin-bottom: 4px; */
	text-decoration: none;
}

/* dropdown text hover style */
.dropdown a:hover {
	background-color: white;
	color: #333;
}

/* dropdown text activated style */
.dropdown a.active {
	background-color: rgb(226, 10, 10);
	color: #333;
}  

/* styling the categories inside dropdown */
.dropdown #filter-dropdown {
	background-color: white;
	display: none;
	position: absolute;
	z-index: 1;
	overflow-y: auto;
	border-radius: 00px 0px 30px 30px;
}

/* dropdown filter button */
.dropdown #filter-btn {
	position:relative;
	font-family: system-ui, -apple-system, BlinkMacSystemFont;
	font-size: 18px;
	font-weight: bold;
	background-color: #133162;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 30px 30px 0px 0px;
	width: 120px;
	height: 52px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	z-index: 1000;
}
#filt{
	padding-left: 30px;
}
#filter-btn{
	/* margin-right: 20px; */
	background: url("assets/flter_icon.png") no-repeat left;
	background-size: 30px;
	background-position: 20px 12px;
	z-index: 1000;
}

/* Accessibility Button */
#accessibility-btn{
	font-family: system-ui, -apple-system, BlinkMacSystemFont;
	width: 180px;
	height: 52px;
	border: none;
	border-radius: 1000px;
	background: url("assets/accessibility\ icon.png") no-repeat left;
	background-size: 28px;
	background-position: 20px 13px;
	background-color: #133162;
	color: white;
	font-size: 18px;
	font-weight: 500;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	
}

/* Accessibility Dropdown */
.dropdown #access-dropdown {
	background-color: white;
	display: none;
	position: absolute;
	z-index: 1;
	overflow-y: auto;
	border-radius: 00px 0px 30px 30px;
	width: 180px;
	height: 50px;
}



/* Tiles */
/* entire grid container */
.tile-container {
	display: grid;
	grid-template-columns: repeat(3, 400px);
	grid-template-rows: repeat(3, 320px);
	grid-gap: 20px;

	/* add left-right padding */
	justify-content: center;
}

/* each cell in the grid */
.tile {
	font-family: system-ui, -apple-system, BlinkMacSystemFont;
	background-color: white;
	border-radius: 15px;
	padding: 15px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	position: relative;
}

#wrapper {
	/* add this to contain floated children */
	margin-top: 18px;
    overflow: hidden; 
}
#side-1 {
    width: 100px;
    float:left; /* add this */
	margin-top: 7px;
}
#side-2 {
    float: left; /* add this */
	margin-top: 7px;
}

.club-name {
	font-family: system-ui, -apple-system, BlinkMacSystemFont;
	font-size: 28px;
	margin-left: 25px;
	margin-top: 5px;
	font-weight: bold;
}

#socials{
	margin-top: 5px;
	margin-left: 25px;
}

.socialmedialogo{
	margin-top: 6px;
}

.description{
	font-family: system-ui, -apple-system, BlinkMacSystemFont;
	margin-top: 0px;
	font-size: 15px;
	margin-left: 8px;
	margin-right: 8px;
}

.tile-buttons {
	position: absolute;
	bottom: 25px;
}

#learn-btn{
	width: 150px;
	height: 40px;
	border: none;
	border-radius: 1000px;
	background-color: #F6C749;
	color: black;
	font-size: 15px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont;
	font-weight: bold;
}
#join-btn{
	width: 150px;
	height: 40px;
	border: none;
	border-radius: 1000px;
	background-color: #F6C749;
	color: black;
	font-size: 15px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont;
	font-weight: bold;
}

/* pagination div */
.pagination {
	display: flex;
	justify-content: center;
	margin-top: 72px;
	margin-bottom: 72px;
}

/* pagination text */
.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}

/* each pagination box when clicked (activated) */
.pagination a.active {
	background-color: #133162;
	color: white;
	border-radius: 100%;
	padding-left: 12px;
	padding-right: 12px;

}

/* each pagination box when not activated */
.pagination a:hover:not(.active) {
	background-color: #EFF2F5;
	color: black;
}

.tile-leftcorner {
	position: absolute;
	border-radius: 14px 0px 14px 0px;
	top: 0px;
	left: 0px;
	height: 28px;
	width: 100px;
}

#color-category1{
	background-color: #D22E19;
}

#color-category2{
	background-color: #ED9110;
}

#color-category3{
	background-color: #F1C521;
}

#color-category4{
	background-color: #009C06;
}

#color-category5{
	background-color: #1E6CD5;
}

#color-category6{
	background-color: #CB3FAC;
}

#color-category7{
	background-color: #5C239E;
}

.text-category{
	font-family: system-ui, -apple-system, BlinkMacSystemFont;
	font-size: 14px;
	color:white;
	position: absolute;
	text-align: center;
	top: 5px;
	width: 100px;
}

/* div that encapsulates the 'learn more' and 'join us' buttons */

.tile-buttons{
	width: 368px;
	display: flex;
    justify-content: space-evenly;
}

.fade-out {
	/* color:black; */
  opacity: 0.1;
  transition: opacity 0.5s ease-out;
}

.active {
  opacity: 1;
	transition: opacity 0.5s ease-out;
}

#dark-box {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .65);
	/* z-index: 1; */
}

